{% extends "posts/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded-lg">
        <h2 class="text-center mb-4">Edit Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-4 text-center">
                    <!-- Profile Picture -->
                   
                    <label class="btn btn-outline-primary btn-sm">
                        Change Picture
                        <input type="file" name="profile_picture" hidden>
                    </label>
                </div>

                <div class="col-md-8">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Username</label>
                        {{ user_form.username }}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="fw-bold">Email</label>
                        {{ user_form.email }}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="fw-bold">Bio</label>
                        {{ profile_form.bio }}
                    </div>
                    


                    <button type="submit" class="btn btn-primary w-100 mt-3">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
